<header class="flex justify-center items-center py-5 w-[1120px] mx-auto">
    <img class=" flex justify-between rounded-full  w-12 h-12" src="https://scontent.fclo9-1.fna.fbcdn.net/v/t39.30808-6/417549198_7667424663289051_2584485235387121825_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeH3aJ_S__lRnC_sVjfdJczfUFyrr3rDU4pQXKuvesNTigsmyFqmVg2NCKZwCMCQAKvEpDLabOTZgzeUBlFaWdMI&_nc_ohc=zxBdxm64ZncQ7kNvgHXPZCX&_nc_zt=23&_nc_ht=scontent.fclo9-1.fna&oh=00_AYAPLTkPmrqkcRMEW9uif800beJIWkY_Xfa3bxyWsHawMA&oe=66D78FB2" alt="JuanFoto"/>

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project">Projects</a>
        <a href="/contact">Contact</a>
    </nav>

</header>